body {
     font-family: 'PT Serif', serif;
}
 #container {
     font-size: 40px;
     text-align: center;
     height: 200px;
     width: 400px;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -100px;
     margin-left: -200px;
     background-color: blue;
}
 a:link {
     color: black;
}
 #vk:hover {
     color: #5181b8;
}
 #fb:hover {
     color: #4862a3;
}
 #tg:hover {
     color: #1b8ec9;
}
